@import 'maincss';

$font-family: 'PT Sans Caption';

$border-radius-root: 6px;
$font-size-root: 14px;

.v-application {
  [class*='text-'] {
    color: #131316;
    font-family: $font-family, sans-serif;
}
}
